<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="100">
        <setting type="lsep" label="100" />
        <setting id="discover_bridge" type="action" label="101" action="RunScript(script.xbmc.hue.ambilight,action=discover)" />
        <setting id="bridge_ip" type="text" label="102" enable="!eq(-1,true)" default="-" />
        <setting id="bridge_user" type="text" label="103" enable="!eq(-1,true)" default="-" />
        <setting type="lsep" label="200" />
        <setting id="mode" type="enum" enable="true" label="201" default="0" lvalues="202|203" />
        <setting type="lsep" label="300" />
        <setting id="light" type="enum" enable="true" label="301" default="1" lvalues="302|303" />
        <setting id="light_id" type="number" label="304" default="1" enable="eq(-1,1)" visible="eq(-1,1)" />
        <setting id="group_id" type="number" label="305" default="0" visible ="eq(-2,0)" enable="eq(-2,0)" />
        <setting id="ambilight_info" type="action" label="306" visible="eq(-3,0) + eq(-5,0)" />
        <setting type="lsep" label="400" />
        <setting id="misc_initialflash" type="bool" label="401" default="true" />
    </category>
    <category label="500">
        <setting type="lsep" label="510" />
        <setting id="dimmed_bri" label="501" type="slider" default="0" range="0,5,100" option="int" />
        <setting id="undim_bri" label="502" type="slider" default="80" range="0,5,100" option="int" />
        <setting id="override_hue" type="bool" label="506" default="false" />
        <setting id="dimmed_hue" type="slider" label="503" default="22755" visible="eq(-1,true)" range="0,1000,65534" option="int" />
        <setting id="undim_hue" type="slider" label="504" default="22755" visible="eq(-2,true)" range="0,1000,65534" option="int" />
        <setting type="lsep" label="600" />
        <setting id="ambilight_dim" type="bool" label="601" default="false" />
        <setting id="ambilight_dim_group" type="number" label="602" default="0" enable="eq(-1,true)" visible="eq(-1,true)" />
        <setting type="sep" label="600" />
        <setting id="debug" type="bool" label="505" default="false" />
    </category>
</settings>